#header_div {
	height: 80px;
	margin-bottom: 20px;
	background-color: #81B3E2;
}

#console {
	overflow-y: scroll;
}

#console p {
	margin-bottom: 0px;
}

.scroll_box {
	border: 1px solid #ccc;
	overflow-y: scroll;
	height: 300px;
}

.clickable_table tr {
	cursor: pointer;
}
.clickable_table tr[active] {
	background-color: #E5F2FF;
}

.table {
	margin-bottom: 0px;
}

.dropdown_button {
	cursor: pointer;
	text-decoration: underline;
}

.dropdown:after {
  font-family: "Glyphicons Halflings";
  content: "\e253";
}

.dropup:after {
  font-family: "Glyphicons Halflings";
  content: "\e252";
}

#get_files {
	float: right;
}